<!--BARRE DE NAVIGATION-->

<nav class="nav navbar-dark bg-primary">
        <div>
            <a class="navbar-brand" routerLink="/accueil">
                <img src="https://bit.ly/2GjJdEh" class="mb-3" width="120" height="63" alt="Logo société fictive">
            </a>
            <a class="navbar-brand" routerLink="/accueil"><p>Accueil</p></a>
            <a class="navbar-brand" routerLink="/gallerie"><p>Gallerie</p></a>
            <a class="navbar-brand" routerLink="/apropos"><p>À propos</p></a>
        </div>
    </nav>

<!-- TITRE -->
<header>
        <div class="text-center mb-5 mt-5">
            <h1>Administration Collègue</h1>
        </div>
    </header>