<div class="container-fluide">
    <div class="row align-items-center">
        <div class="col-3">
            <form>
                <label class="ml-2">Recherche par nom : </label>
            </form>
        </div>
        <div class="col">
            <input type="search" class="form-control" id="searchName" #saisie placeholder="Rechercher">
        </div>
        <div class="col">
            <button type="submit" class="btn btn-primary" (click)="retourneMatricule(saisie.value)">Rechercher</button>
        </div>
    </div>

    <div class="mt-4">
        <ul>
            <li *ngFor="let obj of matriculeT"><button type="button" class="btn btn-outline-secondary" (click)="sendMatricule(obj)">{{obj}}</button></li>
        </ul>
    </div>
