<!--CARTE-->
<div class="container-fluide" *ngIf="col != undefined">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex justify-content-center">
                        <img *ngIf="modification==false" src="{{col.photoUrl}}" class="pr-3 mb-3" width="180" height="200" alt="Barack Obama">
                        <img *ngIf="modification" src="https://static.thenounproject.com/png/770826-200.png" class="pr-3 mb-3" width="200" height="200" alt="Barack Obama">

                    </div>
                    <div class="card-text text-center">
                        <p>Matricule : {{col.matricule}}</p>
                        <p>Nom : {{col.nom | uppercase}}</p>
                        <p>Prénoms : {{col.prenom}}</p>
                        <p>Date de naissance : {{col.dateDeNaissance | date:'dd/MM/yyyy'}}</p>
                        <form><p>Email : <span *ngIf="modification==false">{{col.email}}</span>
                            <span *ngIf="modification"><input type="text" /></span></p></form>
                        <div *ngIf="modification">
                            <p>PhotoURL : <input type="text" /></p>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center">
                        <button *ngIf="modification == false" (click)="quandOnModifi()" class="btn btn-primary mt-3">Modifier</button>
                        <button *ngIf="modification" (click)="quandOnValide()" class="btn btn-primary mt-3">Valider</button>
                    </div>
                    <div *ngIf="modification==false">
                        <hr>
                        <div class="d-flex justify-content-center">
                            <button (click)="quandOnCree()" class="btn btn-link ">Créer un nouveau collègue</button>
                            </div>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>